#experiment{
    width: 100vw;
    height: 100%;
    background-color: #f3f3f3;
}
.text1{
    position: absolute;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: xx-large;
    color: #b59c96;
    margin-top:3vh;
    margin-left: 40vw;
}
