#experiment{
    width: 100vw;
    height: 100%;
    background-color: #f3f3f3;
}
.text1{
    position: absolute;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: xx-large;
    color: #b59c96;

    margin : 3vh 0 2vh 40vw;
}
.navis{
  display: inline-flex;
}
.samsung{
  display: inline-flex;
  margin-left: 5vw;
} 