#intro{
    width: 100vw;
    height: 100vh;

    background-color: #1d1d25;
}

#goToContact{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";    
    font-weight: 700;
}