#intro{
    width: 100vw;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";    
    background-color: #1d1d25;
    color: white;
    font-weight: 700;
}
#intro-content{
    position: absolute;
    width: 100vw;
    margin-top: 25vh;
    padding-left: 10vw;
}
.introduceName{
    display: inline-flex;
    font-size: 5vh;
}
.introduceMyself{
    display: flex;
    font-size: 3vh;
}
#goToContact{
    font-size: xx-large;
    margin-top: 3px;
    height: 9vh;
    font-weight: 700;   
}
