.myModal{
    display: inline-flex;
    width: 70vw;
    height: 80vh;
    margin: 10vh 0 0 15vw;

    box-shadow: 13px 13px 27px -5px #15161b,
                8px 8px 16px -8px #17181d, 
                6px 6px 16px -6px #191921;
}
#myModal-left{
    width: 50%;
    background-color: #ebebeb;

    padding: 3vh 0 0 3vw;
}

#myModal-right{
    width: 50%;
    background-color: #202028;
    color: rgba(255, 255, 255, 0.829);
}

#background-text{
    position: absolute;
    
    font-size: 15vh;
    font-weight: 1000;

    top: 5vh;
    opacity: 0.14;
    color: #acacac;
}

#forground-text-aboutMe{
    font-family: Georgia ;
    font-weight: 600;
    font-size: xx-large;
}

#myModal-right svg{
    height: 60px;
    width: 60px;
}
.modalSkill{
    width: 60px;
}
.modalSkill:hover{
    cursor: pointer;
    transition-duration: 2s;
    fill: #00ffff;
}
#myModal-right {
    padding: 7vh 0 0 2vw;
}

.group {
    position: relative;
    margin: 45px 0;
}

textarea {
    resize: none;
}

input,
textarea {
    background: none;
    color: #c6c6c6;
    font-size: 25px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 80%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
}
input:focus,
textarea:focus {
    outline: none;
}
input:focus ~ label, input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
    top: -20px;
    font-size: 20px;
    color: #ffc124;
}
input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
    width: 100%;
}

label {
    color: #c6c6c6;
    font-size: 25px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
}

.bar {
    position: relative;
    display: block;
    width: 80%;
}
.bar:before {
    content: "";
    height: 3px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #ffc124;
    transition: 300ms ease all;
    left: 0%;
}