.naviLeft{
    display: inline-flex;
    width: 40vw;
    margin-left: 10vw;
}
.naviRight{
    display: inline-flex;
    width: 40vw;
    margin-left: 5vw;
}

.navi{
    background-color: #1d1d25;
    height: 10vh;
}