.naviLeft{
    display: inline-flex;
    width: 10vw;
    margin-left: 10vw;
    margin-right: 30vw;
}
.naviRight{
    display: inline-flex;
    width: 30vw;
}

.navi{
    background-color: #1d1d25;
    height: 10vh;
}